<template>
    <div id="app">
        <nav class="navbar navbar-dark bg-dark">
            <span class="navbar-brand">C++ Generated members</span>
        </nav>
        <MemberComponent />
        <div class="m-3">
            <h4>How this works</h4>
            <p>
                <b>TLDR</b> The source is
                <a href="https://gitlab.com/nishanthkarthik/cpp-generated-members">here</a>.
            </p>
            <p>
                Using
                <span class="text-monospace">type_traits</span>, all compiler generated members except move assignment can be checked for deletion.
                To detect the presence of the move constructor, the symbol table in the binary is read.
            </p>
            <h4>Why</h4>
            <p>
              Have you ever wondered what class member functions your compiler automatically generates for you, say if you write a destructor?
              Worry no more. Check all the members that you wrote in the left column and see what you have, side by side.
            </p>
            <h4>Thanks</h4>
            <p>
              <ul>
                <li><a href="https://blog.feabhas.com/2015/11/becoming-a-rule-of-zero-hero/">Becoming a Rule of Zero Hero</a></li>
                <li><a href="https://cppinsights.io">C++ insights</a></li>
              </ul>
            </p>
        </div>
    </div>
</template>

<script>
import MemberComponent from "./components/MemberComponent";

export default {
    name: "app",
    components: {
        MemberComponent
    }
};
</script>

<style>
#app {
    max-width: 100%;
}
</style>
