<template>
    <div class="d-flex member p-2" :class="{ active: value }">
        <div class="toggle vertical-center">
            <input
                v-if="enabled"
                type="checkbox"
                :disabled="!enabled"
                :id="'toggle-' + name"
                :value="value"
                @change="$emit('input', $event.target.checked)"
            />
            <input
                v-if="!enabled"
                type="checkbox"
                :checked="value"
                :disabled="!enabled"
                :id="'toggle-' + name"
            />
        </div>
        <div class="details">
            <span :for="'toggle-' + name">{{name}}</span>
            <div :for="'toggle-' + name" class="text-monospace code">{{code}}</div>
        </div>
    </div>
</template>

<style scoped>
.member.active {
    background-color: #c6efce;
}

.vertical-center {
    display: flex;
    align-items: center;
}

.details > .code {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-top: 0.125rem;
    margin-bottom: 0.125rem;
    background-color: #eff0f1;
    border: lightgray 1px solid;
}

.member > .toggle {
    flex-shrink: 1;
    flex-grow: 0;
}

.member > .details {
    margin-left: 1rem;
    flex-grow: 1;
}
</style>

<script>
export default {
    name: "Member",
    props: {
        name: String,
        code: String,
        enabled: Boolean,
        value: Boolean
    }
};
</script>