<template>
    <div class="w-100 p-3">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>You provide</th>
                    <th>You have</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item, idx) in items" v-bind:key="item.key">
                    <td class="p-0">
                        <Member
                            :name="item.name"
                            :code="item.sample"
                            :enabled="true"
                            v-model="input[idx]"
                        />
                    </td>
                    <td class="p-0">
                        <Member
                            :name="item.name"
                            :code="item.sample"
                            :enabled="false"
                            :value="computedOutput[idx]"
                        />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<style scoped>
.pointer {
    cursor: pointer;
}
</style>

<script>
import Member from "./Member";
import { items } from "../lib/Members";
import { computeMembers } from "../lib/MemberDecoder";

export default {
    name: "MemberComponent",
    props: {
        input: {
            type: Array,
            default: () => Array(items.length).fill(false)
        }
    },
    methods: {
        computeMembers
    },
    computed: {
        computedOutput: function() {
            return this.computeMembers(this.input || this.empty);
        }
    },
    components: {
        Member
    },
    data: () => ({
        items,
        empty: () => Array(items.length).fill(false)
    })
};
</script>